<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>index</title>
  <meta name="description" content="">
  

  <meta name="viewport" content="width=device-width; initial-scale=1.0">
  <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css">
  <link href="css/login.css" rel="stylesheet">
  
</head>

<body >
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Inicia sesión para acceder a Geocode</h1>
            <div class="account-wall">
                <center><img  src="http://www.skaphe.com/img/logoskp.png" alt=""></center>
                <div class="form-signin">
                <input type="text" class="form-control" placeholder="Usuario" id="usuario" required autofocus>
                <input type="password" class="form-control" placeholder="Clave" id="contrasena"  required>
                <br>
                <button class="btn btn-lg btn-primary btn-block"  id="ingresar">
                    Iniciar sesión</button>
                </div>
            </div>
            
        </div>
    </div>
</div>
  <script src="resources/jquery/jquery.min.js"></script>
  <script src="resources/bootstrap/js/bootstrap.min.js"></script>
  <script src="resources/bootbox/bootbox.min.js"></script>
  <script src="resources/socket.io/socket.io.min.js"></script>
  <script src="resources/Crypto/core-min.js"></script>
  <script src="resources/Crypto/aes.js"></script>
  <script src="javascripts/Config.js"></script>
  <script src="javascripts/Func.js"></script>
  <script src="javascripts/acceso/acceso.js"></script>
  <script src="javascripts/Main.js"></script>
</body>
</html>
